/* NAVIGATION MENU */

.nav {
    width: 95%;
    height: 3rem;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list-item {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-list-item:hover {
    background-color: #6be3ce;
    cursor: pointer;
}

.nav-list-item a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.5rem;
}

.nav-list-item .sub-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    background-color: #4acab7;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    list-style: none;
    z-index: 20;
}

.nav-list-item:hover .sub-list {
    display: block;
}

.sub-list .sub-list-item:hover {
    background-color: #6be3ce;
    cursor: pointer;
}

.sub-list .sub-list-item a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    padding: 1rem;
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
        height: auto;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        background-color: #000;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: self-start;
    }

    .nav-list-item:hover {
        background-color: #000;
    }

    .nav-list-item .sub-list {
        display: block;
        width: 100%;
        position: relative;
        z-index: 20;
    }

    .sub-list .sub-list-item {
        background-color: #222;
    }

    .sub-list .sub-list-item:hover {
        background-color: #222;
    }

    .hamburger {
        display: block;
    }
}

/* END OF NAVIGATION MENU */

/* CAROUSEL */

.carousel-wrapper {
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.carousel {
    display: flex;
    gap: 8px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel .item {
    flex-shrink: 0;
    width: 100%;
    height: 50vh;
    min-height: 300px;
    scroll-snap-align: center;
}

.carousel .content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.carousel-wrapper .button {
    display: none;
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 3rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
}

.carousel-wrapper:hover .button {
    display: block;
}

.carousel-wrapper .carousel-previous {
    left: 1.5rem;
}

.carousel-wrapper .carousel-next {
    right: 1.5rem;
}

.carousel .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carousel .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel .overlay-text {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.carousel .overlay-text h2 {
    font-size: 2rem;
    border-bottom: 2px solid #fff;
    margin-bottom: 2rem;
}

.carousel .overlay-text ul {
    list-style: none;
}

.carousel .overlay-text ul li {
    margin: 0.5rem;
    padding: 4px;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #bbb;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-indicators button.active {
    background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 768px) {
    .carousel-wrapper {
        display: none;
    }
}

/* END OF CAROUSEL */

/* RATE */

.rate {
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}
.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}
.rate:not(:checked) > label:before {
    content: "★ ";
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* END OF RATE */
